.button{
    display: inline-flex;
    padding: .6rem 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-color: var(--principal);
    color: var(--claro);
    font-size: 1.2rem;
    font-weight: bold;
}

.button:hover{
    background-color: var(--hover);
}
