@media (min-width: 810px){
    header{
        padding: 1.6rem 2.4rem;
    }

    main {
        padding-top: 7.5rem;
    }

    .button{
        padding: 1rem 1.6rem;
        font-size: 1.4rem;
    }

    .banner__container {
        top: 46rem;
        gap: 1.6rem;
        padding: 2.4rem 3.2rem 2.4rem 3.2rem;
    }

    .banner__container__titulo{
        font-size: 6.4rem;
    }

    .banner__container__subtitulo{
        font-size: 1.8rem;
    }

    .icone-mobile{
        display: none;
    }

    .logo-honda{
        display: block;
    }

    .banner{
        background-size: cover;
        background-position: 25%;
    }
}

@media (min-width: 1440px){
    header{
        padding: 2.4rem 10.4rem;
    }
    main {
        padding-top: 8.5rem;
    }

    .button{
        padding: 1.4rem 2.4rem;
        font-size: 1.6rem;
    }

    .icone-mobile{
        display: none;
    }

    .logo-type-R {
        height: 3.2rem;
    }
    
    .logo-honda {
        height: 3.2rem;
    }

    .banner__container__titulo{
        font-size: 7.6rem;
    }

    .banner__container__subtitulo{
        font-size: 2.6rem;
    }

    .banner{
        height: 65rem;
        background-size: 120%;
        background-position: 25%;
    }
    .banner__container {
        top: 56rem;
        padding: 2.4rem 4.8rem 2.4rem 4.8rem;
    }
}